.Container {
  display: flex;
  justify-content: center;
  width: 390px;
  padding: 50px;
  flex-flow: wrap;
  position: relative;
  margin: auto;
  background-color: darkgray;
  .unselected_seat {
    background-color: #ffffff;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &:hover {
      background-color: greenyellow;
    }
  }
  .selected_seat {
    background-color: #0400ff;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &:hover {
      background-color: greenyellow;
    }
  }
  .booked_seat {
    background-color: #ff0000;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:hover {
      background-color: rgb(255, 47, 47);
    }
  }
}
